<li>
    <!--I, personally, would not use the id to list these items, but as per the requirements...-->
    {{id}}
    {{burger_name}}
    {{#if devoured}}<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        Devour it!!
    </button>{{/if}}
</li>